

.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --accent-color-bg: #353430;
  --accent-heading-color: #ffc2e6;
  --text-color: #353430;
  --button-hover-color: #32312d66;
  --dec-bracket-color: #353430;
  --menu-color: #353430;
  --rec-dec-color: transparent;
  --heading-color: #353430;
}

@media (prefers-color-scheme: light) {

  :root {
    --cover-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --accent-color-bg: #353430;
    --accent-heading-color: #ffc2e6;
    --text-color: #353430;
    --button-hover-color: #32312d66;
    --dec-bracket-color: #353430;
    --menu-color: #353430;
    --rec-dec-color: transparent;
    --heading-color: #353430;
  }
}