/* #nachalo начало блока глобальных компонентов */

.page {
  margin: 0 auto;
  padding: 10px;
  color: var(--text-clr);
  font-size: 18px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 768px) {

  .page {
    padding: 20px;
  }
}

.accented-shadow-text {
  color: var(--accent-heading-clr);
  font-weight: 700;
  font-size: var(--accent-heading-fs-mobile);
  line-height: 82.5%;
}

@media (min-width: 1024px) {

  .accented-shadow-text {
    font-size: var(--accent-heading-fs-desktop);
  }
}

.accented-background {
  color: var(--accent-clr-with-background);
  background-color: var(--accent-clr);
}

.accented-text {
  font-size: 18px;
  line-height: 130%;
}

.accented-text_bold {
  font-weight: 700;
}

.h2-heading {
  margin: 0 0 20px;
  color: var(--heading-clr);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.accented-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-clr);
}

.paragraph-text {
  margin: 10px 0 20px;
  line-height: 130%;
}

/* #konec конец блока глобальных компонентов */

/* #nachalo начало блока header */ 

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
}

.decorative-rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--rec-decoration-clr);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorative-rec-icon::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 5px 4px var(--rec-decoration-clr);
  background-color: var(--rec-decoration-clr);
  inline-size: 7px;
  block-size: 7px;
}

.decorated-zone {
  position: relative;
  min-block-size: 97vh;
}

@media (min-width: 768px) {

  .decorated-zone {
    min-block-size: 96vh;
  }
}

@media (min-width: 1024px) {

  .decorated-zone {
    min-block-size: 94.7vh;
  }
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--decorative-bracket-clr);
  border-right: 1px solid var(--decorative-bracket-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--decorative-bracket-clr);
  border-left: 1px solid var(--decorative-bracket-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
}

.header__theme-menu {
  justify-self: end;
  margin: 5px 0 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media (min-width: 768px) {

  .header__theme-menu {
    margin: 10px 0 0;
  }
}

@media (min-width: 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  outline: 1px solid transparent;
  color: var(--menu-clr);
  text-transform: lowercase;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-property: outline;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-clr);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-clr);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-clr);
  pointer-events: none;
}

.header__heading {
  align-self: self-start;
  margin: 15px 0 0;
  text-shadow: 4px 4px 0 var(--accent-clr);
}

@media (min-width: 768px) {

  .header__heading {
    margin: 20px 0 0 -20px;
  }
}

@media (min-width: 1024px) {

  .header__heading {
    margin: 45px 0 0 -20px;
  }
}

.header__text {
  justify-self: end;
  margin: 0;
  padding-right: 50px;
  max-inline-size: 364px;
}

@media (min-width: 768px) {

  .header__text {
    margin: 0;
  }
}

@media (min-width: 1024px) {

  .header__text {
    margin: 0;
    padding: 0;
    max-inline-size: 491px;
  }
}

/* #konec конец блока header */

/* #nachalo начало блока why */

.why {
  margin: 49px 0 0;
}

@media (min-width: 768px) {

  .why {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap);
    margin: 81px 0 0;
  }
}

@media (min-width: 1024px) {

  .why {
    grid-template-columns: 314px 1fr;
  }
}

/* #konec конец блока why */

/* #nachalo начало блока what */

.what {
  margin: 50px 0 0;
}

@media (min-width: 768px) {

  .what {
    margin: 60px 0 0;
  }

  .what__heading {
    max-inline-size: 236px;
  }
}

@media (min-width: 1024px) {

  .what__heading {
    max-inline-size: 314px;
  }

  .what__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gap);
  }
}

/* #konec конец блока what */

/* #nachalo начало блока how */

.how {
  margin: 50px 0 0;
}

@media (min-width: 768px) {

  .how {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap);
    margin: 80px 0 0;
  }
}

@media (min-width: 1024px) {

  .how {
    grid-template-columns: 314px 1fr;
    margin: 60px 0 0;
  }
}

.how__list-heading {
  margin: 0 0 20px;
}

.how__list-title {
  font-weight: 400;
}

/* #konec конец блока how */

/* #nachalo начало блока gallery */

.gallery {
  margin: 50px 0 47px;
}

.gallery__heading {
  margin: 0;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0;
}

.gallery__img {
  inline-size: 100%;
}

@media (min-width: 768px) {

  .gallery {
    margin: 60px 0 74px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content);
    row-gap: 16px;
    column-gap: var(--gap);
    margin: 19px 0 0;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__list-item:last-child {
    grid-column: 2 / 4;
  }

  .gallery__img {
    object-fit: cover;
    object-position: top;
    block-size: 100%;
  }
}

/* #konec конец блока gallery */

/* #nachalo начало блока footer */

.footer {
  display: grid;
}

.footer__text {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-clr);
}

/* #konec конец блока footer */