/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --accent-color-bg: #000028;
  --accent-heading-color: #db00ff;
  --text-color: #f1b2ce;
  --heading-color: #ff0070;
  --button-hover-color: #ff007066;
  --dec-bracket-color: #ff0070;
  --menu-color: #ff0070;
  --headers-color: #ff0070;
  --rec-dec-color: #ff0070;
  --cover-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex mono';
  --rec-decor-visibility: visible;
}